html {
    background-image: url("background-764493_1920.jpg");
}

#title {
font-family: 'Sansita Swashed', cursive;
}

h3 {
    font-family: 'Sansita Swashed', cursive;
}

.container {
    font-family: sans-serif;
    color: #FBF2EE;
    border: 5px solid #774936;
    background-color: #B08968;
    margin-left: 10vh;
    margin-right: 10vh;
    min-width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 2;
}

img {
    max-width: 45vh;
    max-height: 70vh;
    margin: 5vh;
    float: left;
}

footer {
    bottom: 0;
    color: #FBF2EE;
    border: 5px solid #774936;
    background-color: #B08968;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
    margin-left: 10vh;
    margin-right: 10vh;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    font-family: 'Sansita Swashed', cursive;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    max-width: none;
    vertical-align: center;
    width: 100%;
}

.nav {
    list-style-type: none;
align-content: center;
    float: top;
    padding: 0;
}



li {

    background-color: #B08968;
    border: 5px solid #774936;
margin: 3%;
float: top;

    display: inline-block;

}

li a {
    display: block;
    color: #FBF2EE;
    text-align: center;
    text-decoration: none;
     padding: 2vh;
    overflow: hidden;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 426px) {
    .container {
margin: 1%;
 min-height: 100%;
    min-width: 70%;



    }

    img {
        margin: 1%;
        max-width: 100%;
    }
    
    li {
        padding: 1%;
        margin: 1%;
        text-align: center;
    background-color: #B08968;
    border: 5px solid #774936;

width:93%;
align-items: center;


    }
    li a {
        padding: 0;
        margin: 0;
    }
    nav {
    float: top;
        align-items: center;
            padding-left: 0;
    padding-right: 0;
        margin-left: 0;
    }
    .nav {
        margin-left: 0;
        margin-right: 0;
    }
}
